---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Jobizi - Conectando habilidades'>
  <div id='app'>
    <Navbar />
    <main>Main</main>
  </div>
</Layout>

<style>
  #app {
    margin: 32px 72px;
  }
  main {
    flex: 1 0 0;
  }
  @media screen and (max-width: 768px) {
    #app {
      margin: 20px;
    }
  }
</style>
