<ul class='list'>
  <li>
    <img src='/avatar1.png' alt='Avatar 1' />
  </li>
  <li>
    <img src='/avatar2.png' alt='Avatar 2' />
  </li>
  <li>
    <img src='/avatar3.png' alt='Avatar 3' />
  </li>
  <li>
    <img src='/avatar4.png' alt='Avatar 4' />
  </li>
  <li>
    <img src='/avatar5.png' alt='Avatar 5' />
  </li>
</ul>

<style>
  .list {
    display: flex;
    justify-self: flex-start;
    list-style: none;
  }

  .list li:nth-child(n + 2) {
    margin-left: -20px;
  }

  .list li img {
    border-radius: 50%;
    border: 1px solid white;
  }

  @media screen and (max-width: 768px) {
    .list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }

    .list li:nth-child(n + 2) {
      margin-left: -20px;
    }

    .list li img {
      width: 80px;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
</style>
