---
import LoginButton from './LoginButton';
---

<header>
  <img id='logo' src='/logobg.png' alt='logo' />
  <nav>
    <ul>
      <li>Sobre Nosotros</li>
      <li>Servicios</li>
      <li>Registrar</li>
      <li>Blog</li>
    </ul>
    <LoginButton client:load />
  </nav>
  <button id='toggle-btn'>Menú</button>
</header>

<style>
  #logo {
    width: 400px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 66px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 22px;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
  }

  #toggle-btn {
    display: none;
  }

  @media screen and (max-width: 768px) {
    #logo {
      width: 200px;
    }

    nav {
      display: none;
    }

    #toggle-btn {
      display: block;
    }
  }
</style>
