<ul class='list'>
  <li>
    <img src='/fb.svg' alt='Facebook logo' />
  </li>
  <li>
    <img src='/twitt.svg' alt='Twitter logo' />
  </li>
  <li>
    <img src='/link.svg' alt='Linkedin logo' />
  </li>
  <li>
    <img src='/ig.svg' alt='Instagram logo' />
  </li>
</ul>

<style>
  .list {
    display: flex;
    justify-self: flex-end;
    gap: 27px;
    list-style: none;
  }
  .list li {
    border-radius: 0%;
    border: none;
  }

  @media screen and (max-width: 768px) {
    .list {
      display: flex;
      justify-self: flex-end;
      gap: 27px;
      list-style: none;
    }

    .list li {
      border-radius: 0%;
      width: 20px;
      border: none;
    }
  }
</style>
